.gitignore
### TERRAFORM ###
backend.hcl
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive vars (HA lesz bennük credential)
*.tfvars
*.tfvars.json
terraform.tfvars

# Local tfplan output
*.tfplan

### KUBERNETES ###
# Kubeconfig fájlok (biztonsági ok)
kubeconfig
kubeconfig.yaml

### DOCKER ###
# Ha lesz Node.js microservice
node_modules/
npm-debug.log
yarn-error.log

### SYSTEM / IDE ###
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*.log
