name: App CI

on:
  push:
    branches:
      - main

jobs:
  ci-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repo structure
        run: |
          echo "Current directory:"
          pwd
          echo
          echo "Repo files:"
          ls -R

  docker-build:
    runs-on: ubuntu-latest
    needs: ci-test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build app Docker image
        working-directory: app/reactflow-app
        run: |
          echo "Building Docker image from app/reactflow-app..."
          docker build -t eks-k8s-app-ci:test .
